body {
    font-family: 'Times New Roman', Times, serif;
}

.banner {
    background-image: url(/porto/images\ kavin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px;
}

.skills-padding {
    padding: 70px 0;
}